
if SHIELD_KLOR_LEFT

config ZMK_KEYBOARD_NAME
    default "KLOR"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KLOR

config ZMK_SPLIT
    default y
 
if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

config SSD1306_REVERSE_MODE
    default y

endif # ZMK_DISPLAY

endif